.Question {
    cursor: pointer;
    padding: 8px 4px 16px;
}

.Question:hover {
    background-color: hotpink;
}

.Question-answer {
    display: none;
}

.Question--expanded .Question-answer,
.Question--editing .Question-answer {
    display: block;
}

.Question--expanded {
    background-color: seagreen;
}

.Question-question {
    display: flex;
    flex-direction: row;
}

.Question-questionText {
    flex-grow: 1;
}

.Question-delete, .Question-edit, .Question-save {
    background-color: transparent;
    border: none;
    visibility: hidden;
}

.Question:hover .Question-delete,
.Question:hover .Question-edit,
.Question-save {
    visibility: visible;
}

.Question-delete:hover {
    background-color:orangered;
}

.Question-edit:hover {
    background-color: cornflowerblue;
}

.Question-undo {
    background-color: lightgrey;
}
