.App {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding: 8px 16px 24px;
  background-color: yellow;
}

.App-logo {
  margin: 0;
  background-color: green;
}

.App-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  background-color: cyan;
  flex: 3;
}

.App-sidebar {
  align-items: stretch;
  background-color: tomato;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  font-size: small;
  flex: 0;
  background-color: yellow;
  padding: 8px 4px 16px;
}
